body {
    background-color: 
#f0f8ff;
font-family: Arial, Helvetica, sans-serif;
padding: 20;
}

h1 {    
color: #db0d0d;
font-size:35px;
text-align:center;
background-color: #ffd700;
padding: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.intro {
    color: blue;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(9, 236, 20);
    padding: 15px;
}
h1, p {
    margin-bottom: 20px;
    border-radius: 8px;
}

.description {
    color: #d30909;
    text-align: center;
    background-color: #dbab0d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px;
 
}